
.ipynb_checkpoints/term_id-checkpoint.ipynb
.ipynb_checkpoints/Point2-checkpoint.ipynb
.ipynb_checkpoints/Point2(SearchEngine_1)-checkpoint.ipynb
.ipynb_checkpoints/Point1_3-checkpoint.ipynb
.ipynb_checkpoints/DataStructures-checkpoint.ipynb
.ipynb_checkpoints/Point1_3-checkpoint.ipynb
.ipynb_checkpoints/Point2-checkpoint.ipynb
.ipynb_checkpoints/Point1_3-checkpoint.ipynb
.ipynb_checkpoints/Point2-checkpoint.ipynb
